<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Papa Pizza!</a>
        <nav>
            <ul>
                <li class="register">
                    <a href="#" routerLink="/signup">Sign up</a>
                </li>
                <li class="log">
                    <a href="#" routerLink="/login">Login</a>
                </li>
                <li>
                <a href="#" routerLink="/cart">Cart</a>
            </li>
        </ul>
        </nav>
    </div>
</header>
